body {
    background: url("images/bottle\ of\ pills.png");
    /* background-repeat: no-repeat; */
    background-position: right;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
h2 {
      text-align: center;
    }
form {
      display: flex;
      flex-direction: column;
    }
label {
      margin-bottom: 8px;
    }
select, input[type="number"] {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
button[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
button[type="submit"]:hover {
      background-color: #45a049;
    }


@media only screen and (max-width: 600px) and (max-height: 800px) {
    body {
        background-repeat: no-repeat;
    }
      .container {
        padding: 10px;
      }
      select, input[type="number"], button[type="submit"] {
        padding: 6px;
        font-size: 14px;
      }
    }